
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://source.unsplash.com/1" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <span class="float-left btn btn-sm btn-outline-danger disabled">400000 F</span>
      <span class="btn btn-sm text-center disabled ">IL y'a 23 j</span>
      <a href="#" class="btn btn-sm btn-primary">Réserver</a>
    </div>
